openapi: 3.1.0
info:
  title: ArchersLab API
  version: 1.0.0
  description: CCAPDEV MCO
  license:
    name: MIT
    identifier: MIT

servers:
  - url: http://localhost:3000/api
paths:
  /login:
    get:
      operationId: login
      summary: Login
      description: Login to the account.
      requestBody:
        description: Login info.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Login"
      responses:
        200:
          description: Account logged in.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        404:
          description: User not found.
    post:
      operationId: register
      summary: Register
      description: Registers the account.
      requestBody:
        description: User info.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
      responses:
        201:
          description: Account registered.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        409:
          description: User exists.
components:
  schemas:
    User:
      allOf:
        - $ref: "#/components/schemas/Login"
        - type: object
          required:
            - id
            - name
          properties:
            id:
              type: integer
              readOnly: true
              example: 1234
            name:
              type: object
              required:
                - first
                - last
              properties:
                first:
                  type: string
                  example: Juan
                last:
                  type: string
                  example: Dela Cruz
    Login:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: juan_dela_cruz@dlsu.edu.ph
        password:
          type: string
          format: password
          writeOnly: true
          example: password
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - bearerAuth: []
